<head>
	<title>{{ page.title }} - {{ site.title }}</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="{{ page.description }}" />
	<meta name="keywords" content="{{ page.keywords }}"

	<!-- Vendor Stylesheets -->
	<link rel="stylesheet" type="text/css" href="/css/vendor/hamburgers.css" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/flexslider.css" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/tipsy.css" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/media.queries.css" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/frow.css" />
	<link rel="stylesheet" type="text/css" href="/js/vendor/fancybox/jquery.fancybox-1.3.4.css" />
	<link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700|Pacifico" rel="stylesheet">

	<!-- Stylesheets -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace: 'index.html','' }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml" />

	<!-- Favicons -->
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122920085-1"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122920085-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-122920085-1');
	</script>
</head>