<head>
	<title>Intensive Community Outreach Services - Home</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Vendor Stylesheets -->
	<link rel="stylesheet" type="text/css" href="/css/vendor/hamburgers.css" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/flexslider.css" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/tipsy.css" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/media.queries.css" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/frow.css" />
	<link rel="stylesheet" type="text/css" href="/js/vendor/fancybox/jquery.fancybox-1.3.4.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Pacifico|Cabin:400,700,600,500">

	<!-- Stylesheets -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

	<!-- Favicons -->
	<link rel="shortcut icon" href="/fav_logo.png" />
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122920085-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-122920085-1');
	</script>
</head>