<div id="programs">
	<div class="box_heading">
		<h2>Events</h2>
		<span class="line"></span>
		<br><br>
	</div>
	<div class="one_third first">
			<div class="box_heading">
				<br><br>
			<div class="event-meta">
				<h4 class="event-title">Fun, Family &amp; Facts</h4>
				<h5 class="event-date">May 14, 2016</h5>
			</div>
			<p class="center-pos">
				Mt. Trashmore <br>
				Virginia Beach, Virginia<br>
				9AM - 2PM
			</p>
		</div>
	</div>

	<div class="one_third">
		<div class="box_heading">
			<br><br>
			<div class="event-meta">
				<h4 class="event-title">Fun, Family &amp; Facts</h4>
				<h5 class="event-date">May 21, 2016</h5>
			</div>
			<p class="center-pos">
				Hotchkiss Community Center<br>
				Richmond, Virginia<br>
				10AM - 2PM
			</p>
		</div>
	</div>

		<div class="one_third column_last">
		<div class="box_heading">
			<br><br>
			<div class="event-meta">
				<h4 class="event-title">Fun, Family &amp; Facts</h4>
				<h5 class="event-date">May 28, 2016</h5>
			</div>
			<p class="center-pos">
				Elks Lodge #48<br>
				227 North Henry Street<br>
				Alexandria, Virginia<br>
				10AM - 2PM
			</p>
		</div>
	</div>
</div>

<div class="center-pos">
	<div class="button">
		<a href="calendar.html">View All Events</a>
	</div>
</div>