<!-- Start Slider -->
<div class="flexslider-container">
	<div id="slider" class="flexslider">
		<ul class="slides">
			<li>
		    	<img src="/images/content/blue-shirt-woman.jpg" alt="" />
				<p class="flex-caption">
					<b>In-Home & School-Based Services</b> - Intensive In Home counselors provide clinical intervention and support services to youth.
				</p>
		  	</li>
		  	
			<li>
		    	<img src="/images/content/family.jpg" alt="" />
				<p class="flex-caption">
					<b>Community Services and Mental Health Support Services</b> - ICOS works to support individuals to help maintain and enhance their lives.
				</p>
		  	</li>
				<li>
		    	<img src="images/content/woman.jpg" alt="" />
				<p class="flex-caption">
					<b>Intensive Community Outreach Services</b> - Bring awareness to your cause with style and function.
				</p>
		  	</li>
		</ul><!-- .slides -->
	</div><!-- #slider -->
</div><!-- .flexslider-container -->
<!-- End Slider -->