<!-- Start Slider -->
<div class="flexslider-container">
	<div id="slider" class="flexslider">
		<ul class="slides">
			{% for item in page.slider-block %}
			<li>
				
		    	<img src="{{ item.image }}" alt="{{ item.image-alt-text }}" />
		    	<div class="slider-wrapper">
					<div class="slider-header">{{ item.slider-header }}</div>
					<div class="slider-program"><a href="{{ item.cta}}">{{ item.program-name }}</a></div>
					<div class="slider-text">{{ item.program-description }}</div>
					<div class="slider-cta"><a href="{{ item.cta}}">learn more&nbsp;<i class="fas fa-arrow-circle-right"></i></a></div>
				</div>
		  	</li>
		  	{% endfor %}

			<!-- <li>
				<div class="slider-header">ICOS Program</div>
		    	<img src="/images/content/family.jpg" alt="" />
				<p class="flex-caption">
					<b><a href="/programs/mental-health-skill-building-program/">Mental Health Skill-building Program</a></b> - ICOS works to support individuals to help maintain and enhance their lives.
				</p>
		  	</li> -->
		</ul><!-- .slides -->
	</div><!-- #slider -->
</div><!-- .flexslider-container -->
<!-- End Slider -->