.programs_wide {
	width: 100%;

	@include tablet {
		width: 72%;	
	}
	
}
.programs_narrow {
	width: 100%;
	margin-top: 75px;
	@include tablet {
		width: 24%;
		margin-top: 0;
	}
	
}
.programs_narrow_wrapper {
	margin-top: 10px;

	.programs_narrow_single {
		border-bottom: 1px solid #F1F1F1;
		padding: 20px 0;
		margin-bottom: 10px;
	}

	.programs_narrow_icon {
		width: 10%;
	}
	.programs_narrow_text {
		width: 85%;
		font-size: 12px;
		line-height: 16px;
	}
}
.programs_full_wrapper {
	padding-top: 15px;

	.programs_full_single {
		margin-top: 25px;
	}
	.programs_full_title {
		font-weight: bold;
		font-size: 16px;
		margin-bottom: 2px;
	}

}
.key_info_wrapper {
	background-color: #F4F4F4;
	max-width: 1000px;
	margin: auto;
	padding: 20px;
}
.key_info_single ul {
	margin-top: 20px;

	li {
		list-style: none;
		font-size: 14px;
	}
	span {
		
		display: inline-block;
	}
}
.key_info_icon {
	padding-right: 10px;
	color: #070707;
}
.key_info_single.one {
	margin-top: 75px;
	@include tablet {
		width: 55%;	
		margin-top: 0;
	}
	
}
.key_info_single.two {
	margin-top: 75px;
	@include tablet {
		width: 40%;	
		margin-top: 0;
	}
	
}

.slides li {
	position: relative;
}
.slider-wrapper {
	
	bottom: 0;
	background: $red;
	color: white;
	padding: 15px 20px 15px;

	@include tablet {
		position: absolute;
		padding: 15px 20px 30px;
		width: 50%;	
	}
	@include desktop {
		width: 40%;
	}

	.slider-program {
    	color: white;
    	font-size: 16px;
    	padding: 7px 0;

    	@include phone-large {
    		font-size: 18px;
    		padding: 10px 0;
    	}
    	@include small-tablet {
    		padding: 10px 0 0;
    		font-size: 22px;
    	}

    	a {
    		color: white;
    		&:hover {
    			color: $dark-red;
    		}
    	}
    }

    .slider-header {
	    font-size: 12px;
	    font-weight: bold;
	    text-transform: uppercase;
	    color: $dark-red;

	    @include phone-large {
	    	font-size: 14px;
	    }
	}
	.slider-text {
		display: none;
		@include small-tablet {
			padding: 10px 0 20px;	
			display: block;
		}
	}
	.slider-cta {
		font-size: 12px;

		@include phone-large {
			font-size: 14px;
		}
		a {
			color: white;

			&:hover {
				color: $dark-red;
			}
		}
		
	}
}
